@CHARSET "UTF-8";
:root{
    --clor-1:#EEF0F2;
    --clor-2:#C6C7C4;
    --clor-3:#846A6A;
    --clor-4:#353B3C;
    --clor-5:#A2999E;
  
}

body{
	color: var(--clor-3);
	background-color: var(--clor-4);
	font-size: 30px;
	font-family: Arial;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: var(--clor-2);
}

::-webkit-scrollbar-thumb
{
  background: var(--clor-4);
}
#container{
    width: 60%;
    margin: auto auto;
	background-color: var(--clor-1);
	text-align: left;
    min-width: 780px;
    max-width: 1000px;

}
#cabecera{
    background-color: var(--clor-5);
    background-size: 100% auto;
    background-position: center;
    font-size: 30px;
    color: var(--clor-5);
    text-align: right;
    width: 100%;
    
}
#title{
	color: var(--clor-1);
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin: 5% 0% 2% 0;
    float: right;
}
#nombres{
    color: var(--clor-1);
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0% 0% 5% 0;
    float: right;
}

#info{
    width: 90%;
    font-size: 20px;
    margin: 0% 5%;
}
#texto{
    width: 80%;
    font-size: 20px;
    margin: 5% 10%;
    text-align: center;
}
#Instrucciones{
    font-size: 25px;
    margin: 0% 0% 2.5% 0%;
    text-align: center;
    font-weight: bold;
}
#nunca{
    /* Firefox */
    width: -moz-calc(95% - 8px);
    /* WebKit */
    width: -webkit-calc(95% - 8px);
    /* Opera */
    width: -o-calc(95% - 8px);
    /* Standard */
    width: calc(95% - 8px);
    padding: 2.5% 2.5%;
    border-color: var(--clor-2);
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    background-color: var(--clor-1);
    text-align: left;
}
#frase{
    
    width: 95%;
    padding: 2.5% 2.5%;
    border-radius: 10px;
    color: var(--clor-1);
    background-color: var(--clor-3);
    text-align: center;
    margin: 1.5% 0 0 0;
}
#opciones{
    /* Firefox */
    margin: 1.5% -moz-calc(2.5% - 4px);
    /* WebKit */
    margin: 1.5% -webkit-calc(2.5% - 4px);
    /* Opera */
    margin: 1.5% -o-calc(2.5% - 4px);
    /* Standard */
    margin: 1.5% calc(2.5% - 4px);
    width: 40%;
    height:  100;
    padding: 2.5% 2.5%;
    border-color: var(--clor-2);
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    background-color: var(--clor-1);
    transition-duration: 0.1s;
    text-align: center;
    float: left;
}


#limpiar{
    clear: both;
}


input {
    border:3px solid var(--clor-2);
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin: 5%;
    background-color: var(--clor-1);
    padding: 10px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    color: var(--clor-3);
    
	
}
input:focus {
    border: 3px solid var(--clor-3);
}
input[type=text] {
    width: 80%;
    
}
input[type=submit]{
   font-weight: bold;
    
}
input[type=submit]:hover {
	border-color: var(--clor-4);
    background-color: var(--clor-4);
    color: var(--clor-1);
    border-radius: 30px;
    
}

button{
    border:3px solid var(--clor-2);
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin: 2.5% 5%;
    background-color: var(--clor-1);
    padding: 10px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    color: var(--clor-3);
    font-weight: bold;
}
button:hover {
    border-color: var(--clor-4);
    background-color: var(--clor-4);
    color: var(--clor-1);
    border-radius: 30px;
    
}
select{
    border:3px solid var(--clor-2);
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin: 5%;
    background-color: var(--clor-1);
    padding: 10px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    color: var(--clor-3);
    width: 80%;
}
select:focus {
    border: 3px solid var(--clor-3);
}