@CHARSET "UTF-8";
:root{
    --clor-1:#DCDCDD;
    --clor-2:#C5C3C6;
    --clor-3:#46494C;
    --clor-4:#4C5C68;
    --clor-5:#1985A1;
  
}

body{
	color: var(--clor-4);
	background-color: var(--clor-4);
	font-size: 30px;
	font-family: Arial;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: var(--clor-2);
}

::-webkit-scrollbar-thumb
{
  background: var(--clor-4);
}
#container{
    width: 80%;
    margin: 0 auto;
	background-color: var(--clor-1);
	text-align: left;
    min-width: 600px;
    max-width: 800px;
}
#cabecera{
    background-color: var(--clor-5);
    background-size: 100% auto;
    background-position: center;
    font-size: 30px;
    color: var(--clor-5);
    
    text-align: right;
    width: 100%;
    
}
#title{
	color: var(--clor-1);
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 5% 0% 0 0;
    float: right;
}
#actualizar_todas{
    width: 100%;
    margin: 0% 2.5% 2.5% 0;
    font-size: 15px;
    float: right;
}
#cargando{
    width: 100%;
    display: block;
    float: right;
}
#img1{
	width: 20%;
	margin: 5% 40%;
	display: none;
}
#info{
    width: 100%;
    font-size: 20px;
    float: right;
}
#selector_sondas{
    width: 94%;
    margin: 5% 2.5%;
    font-size: 20px;
    float: left;
    border-bottom-color: #006892;
    height: 500px;
    overflow-y: auto;
    
    
}
button.sonda{
    margin: 0% 2.5% 5% 2.5%;
    width: 95%;
    font-size: 15px;
    float: left;
    padding: 2% 5%;
    border-color: var(--clor-2);
    border-style: solid;
	border-radius: 10px;
	border-width: 4px;
	background-color: var(--clor-1);
	transition-duration: 0.1s;
	text-align: left;
	color: var(--clor-4);
}
button.sonda:hover {
	background-color: var(--clor-4);
	color: var(--clor-2);
	
}

span.rojo{
	color: red;
}
span.verde{
	color: green;
}
#cont_info_sonda{
	width: 42.5%;
    margin: 5% 2.5%;
    height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}
#img2{
	width: 40%;
	margin: 5% 30%;
	display: none;
}
#info_sonda{
    width: 84%;
    font-size: 15px;
    float: left;
    padding: 15px;
    overflow: visible;
    border-color: var(--clor-2);
    border-style: solid;
	border-radius: 10px;
	border-width: 4px;
	background-color: var(--clor-1);
	
}
#grafica{
	width: 95%;
	margin: 2.5% 0%;
	float: left;
}
canvas{
	background-color: var(--clor-2);
	border-radius: 5px;
	height: 85px;
	padding: 0 2.5% 2.5%;	
}
#console{
	width: 85%;
	margin: 5px 0%;
	padding: 7%;
	background-color: var(--clor-4);
	color: var(--clor-1);
	border-radius: 5px;
}
#reload{
    width: 50%;
    margin: 15px 22.5% 0 0;
    font-size: 15px;  
    float: right;
}
#sonda{
    margin: 2.5% 2.5%;
    font-size: 15px;
    float: left;
}
a {
    color: #ff5353;
    text-decoration: none;
    
}
#limpiar{
    clear: both;
}
button.reload{
	margin: 10px 0;
    border-color: var(--clor-2);
    border-style: solid;
    background-color: var(--clor-1);
    padding: 15px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    color: var(--clor-4);
    
	
}
button.reload:hover {
	border-color: var(--clor-4);
    background-color: var(--clor-4);
    color: var(--clor-1);
    border-radius: 30px;
    
}
#cargandoSonda{
    width: 100%;
    display: block;
    float: right;
    display: none;
}
#img3{
	width: 20%;
	margin: 0% 40%;
	display: none;
}

