@charset "utf-8";

body{
background-image:url("fondo.jpg");
background-attachment: fixed;
}

div{
text-align:center;
font-family:Arial;
font-weight:bold;

}

#reloj{
position:relative;
float:left;
}

#producto{
position:relative;
}

#tabla{
text-align: center;
margin: 0 auto;
text-align: left;
font-family:Arial;
font-weight:bold;
padding:7px;
border:solid 1px #DEDEDE;
border-radius:3px;
background-color:#58FAF4;
}

#comentario{
padding:7px;
margin:0 auto;
height:290px;
width:100%;
text-align:center;
border:solid 0px #DEDEDE;
border-radius:3px;
background-color:#fff68f;

}
#comentario1{
padding:7px;
margin:0 auto;
height:800px;
width:100%;
text-align:center;
border:solid 0px #DEDEDE;
border-radius:3px;
background-color:#fff68f;

}
#comentario2{
padding:7px;
margin:0 auto;
height:400px;
width:100%;
text-align:center;
border:solid 0px #DEDEDE;
border-radius:3px;
background-color:#fff68f;

}
#mapa{
margin:20px;
float:left;
}

#qr{
float:center;
padding:25px;
}

#contacto{
padding:30px;
height:390px;
width:100px;
float:left;
margin:20px;
background-color:#fff68f;
border:solid 0px #DEDEDE;
border-radius:3px;

}
#contacto2{
padding:30px;
height:390px;
width:100px;
float:right;
margin:20px;
background-color:#fff68f;
border:solid 0px #DEDEDE;
border-radius:3px;

}

#login{
padding:7px;
margin:10px;
width:220px;
float:right;
border:solid 0px #DEDEDE;
border-radius:3px;
background-color:#fff68f;
}

h2{
font-family:Arial;
font-weight:bold;
color:black;
background-color:#fff68f;
}

a.elementoh{
border:solid 1px #DEDEDE;
border-radius:3px;
font-family: Arial;
font-weight: bold;
width: 6em;
text-decoration: none;
color: black;
background-color: #black;
padding: 0.4em 0.9em;
}

a.elementoh:hover{
background-color: #black;
padding:12px;
}

li.elementoli{
display:inline;
}

#links{
margin: 0 auto;
padding:50px;
width:50%;
border:solid 0px #DEDEDE;
border-radius:3px;
background-color:#fff68f;
text-align:left;
}

